# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build
build/
dist/

# Logs
logs/
*.log

# Environment
.env
.env.*
!.env.example

# Coverage
coverage/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# TypeScript
*.tsbuildinfo

# Misc
*.local